body{
    height: 100vh;
}

#header{
    background-color: #3674B5;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.header{
    color: white;
    font-style:italic;
    font-size: 50px;
  
}
.profil{
  display: flex;
  flex-direction: column;
  align-items: center;

}
#main{

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typing{
  width: 500px;
  height: 450px;
  display: grid;
  grid-template-columns: 200px 200px ;
  grid-template-rows: 200px 200px ;
  gap: 20px;
   
}
.myskills h2{
    color:  #3674B5;
    font-size: 40px;
}
.typing .web{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #3674B5;
}
@media (min-width:320px) and (max-width:440px){
    .header{
        font-size: 20px;
        margin: 20px;
    }

}
@media (min-width:450px) and (max-width:790px){
    .header{
        font-size: 40px;
        margin: 20px;
    }

}
#footer{
    width: 100%;
    height: 100px;
    background-color:#D1F8EF ;
     
}
.bottom{
    position: relative;
    top: 10px;
    left: 48%;
}


